/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.blogTitle {
  font-size: 2.8em;
  font-weight: 600;
  margin: 40px 0 60px;
}

.blogBack {
  position: absolute;
  top: 5px;
  left: 5px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background: #e3e3e3;
}
header h1 {
  font-size: 2.4em;
  font-weight: 600;
  margin-bottom: 15px;
}
header p {
  font-weight: 300;
}
header img {
  height: 100px;
  margin-left: 40px;
}
header div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: cyan;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home nav {
  margin: 50px 0;
}
.home nav a {
  margin: 0 25px;
}
.home h2 {
  font-size: 1.4em;
  font-weight: 500;
  margin-bottom: 30px;
}
.home form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 340px;
  padding: 15px 10px;
}
.home__form__nameCont {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  justify-content: space-between;
}
.home__form__nameCont__name {
  display: flex;
  flex-direction: column;
  width: 100%;
  width: 48%;
}
.home__form__nameCont__name input {
  height: 30px;
  margin-top: 5px;
}
.home__form__nameCont__name input {
  width: 100%;
}
.home__form__mail {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}
.home__form__mail input {
  height: 30px;
  margin-top: 5px;
}
.home__form__message {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.home__form__message textarea {
  margin: 5px 0 20px;
  resize: vertical;
  min-height: 100px;
}
.home__form__btn {
  border: none;
  background: cyan;
  padding: 5px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
}
.home__form__btn:hover {
  opacity: 0.6;
  transition: opacity 200ms ease-in-out;
}
.home__cv {
  font-size: 1.8em;
  margin: 28px 0 40px;
}
.home__social {
  display: flex;
  justify-content: space-around;
  width: 300px;
  margin-bottom: 30px;
}

.blogPosts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blogPosts article {
  border: 1px solid #272727;
  padding: 15px;
  width: 340px;
  margin-bottom: 25px;
}
.blogPosts article h2 {
  font-size: 1.4em;
  font-weight: 700;
}
.blogPosts__chapo {
  margin: 3px 0;
  font-weight: 500;
}
.blogPosts__date {
  font-size: 0.8em;
  font-weight: 300;
  margin-bottom: 15px;
}

.blogPost {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blogPost h2 {
  font-size: 1.7em;
  font-weight: 600;
}
.blogPost h3 {
  font-weight: 500;
}
.blogPost__updateDate {
  font-size: 0.8em;
  margin: 15px 0 25px;
}
.blogPost__content {
  margin: 50px 0 15px;
  max-width: 340px;
  line-height: 1.4;
  letter-spacing: 0.7px;
}
.blogPost__separator {
  border-bottom: 2px solid rgba(0, 0, 0, 0.747);
  width: 340px;
  margin: 20px 0;
}
.blogPost form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;
  padding: 15px 10px;
}
.blogPost__form__nameCont {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  justify-content: space-between;
}
.blogPost__form__nameCont__name {
  display: flex;
  flex-direction: column;
  width: 100%;
  width: 48%;
}
.blogPost__form__nameCont__name input {
  height: 30px;
  margin-top: 5px;
}
.blogPost__form__nameCont__name input {
  width: 100%;
}
.blogPost__form__mail {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}
.blogPost__form__mail input {
  height: 30px;
  margin-top: 5px;
}
.blogPost__form__message {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.blogPost__form__message textarea {
  margin: 5px 0 20px;
  resize: vertical;
  min-height: 100px;
}
.blogPost__form__btn {
  border: none;
  background: cyan;
  padding: 5px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
}
.blogPost__form__btn:hover {
  opacity: 0.6;
  transition: opacity 200ms ease-in-out;
}
.blogPost__logBtn {
  border: none;
  background: cyan;
  padding: 5px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
  margin: 25px 0 0;
}
.blogPost__logBtn:hover {
  opacity: 0.6;
  transition: opacity 200ms ease-in-out;
}
.blogPost__noComment {
  margin: 10px 0 25px;
}
.blogPost__comment {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.404);
  border-radius: 5px;
  width: 340px;
  padding: 10px;
  margin-bottom: 15px;
}
.blogPost__comment form {
  width: 100%;
}
.blogPost__comment textarea {
  resize: vertical;
  width: 100%;
}
.blogPost__comment__content {
  line-height: 1.2;
  margin-bottom: 10px;
}
.blogPost__comment__date {
  font-size: 0.7em;
  margin-bottom: 5px;
  width: 100%;
}
.blogPost__comment__by {
  font-size: 0.9em;
  width: 100%;
}
.blogPost__comment button {
  border: none;
  background: cyan;
  padding: 5px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
}
.blogPost__comment button:hover {
  opacity: 0.6;
  transition: opacity 200ms ease-in-out;
}
.blogPost__ann {
  margin-top: 25px;
  text-align: center;
}

.blogTitleLog {
  text-align: center;
}

.blogLog {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
}
.blogLog__logoutBtn {
  margin-top: 50px;
  border: none;
  background: cyan;
  padding: 5px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
}
.blogLog__logoutBtn:hover {
  opacity: 0.6;
  transition: opacity 200ms ease-in-out;
}
.blogLog form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.404);
  border-radius: 5px;
  width: 340px;
  padding: 25px 20px;
}
.blogLog__formCont {
  margin-bottom: 40px;
}
.blogLog__formCont h2 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 15px;
}
.blogLog__formCont__nameCont {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  justify-content: space-between;
}
.blogLog__formCont__nameCont__name {
  display: flex;
  flex-direction: column;
  width: 100%;
  width: 48%;
}
.blogLog__formCont__nameCont__name input {
  height: 30px;
  margin-top: 5px;
}
.blogLog__formCont__nameCont__name input {
  width: 100%;
}
.blogLog__formCont__long {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}
.blogLog__formCont__long input {
  height: 30px;
  margin-top: 5px;
}
.blogLog__formCont__btn {
  border: none;
  background: cyan;
  padding: 5px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
}
.blogLog__formCont__btn:hover {
  opacity: 0.6;
  transition: opacity 200ms ease-in-out;
}

.adminCommentList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.adminCommentList h1 {
  font-size: 2.4em;
  margin: 40px 0 30px;
}
.adminCommentList__comment {
  width: 340px;
  border: 1px solid black;
  padding: 10px;
  margin: 15px 0;
}
.adminCommentList__comment__content {
  line-height: 1.2;
}
.adminCommentList__comment__author {
  font-size: 0.8em;
  margin: 20px 0;
}
.adminCommentList__comment__btnCont {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.adminCommentList__comment__btnCont button {
  border: none;
  background: cyan;
  padding: 5px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
}
.adminCommentList__comment__btnCont button:hover {
  opacity: 0.6;
  transition: opacity 200ms ease-in-out;
}

/*# sourceMappingURL=style.css.map */
