/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, ::before, ::after {
  box-sizing: border-box;
}

main {
  min-height: 80vh;
}

body {
  font-family: "Roboto", sans-serif;
}

.blogTitle {
  font-size: 2.8em;
  font-weight: 600;
  margin: 40px 0 60px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background: #e3e3e3;
}
header h1 {
  font-size: 2.4em;
  font-weight: 600;
  margin-bottom: 15px;
}
header p {
  font-weight: 300;
}
header img {
  height: 100px;
  margin-left: 40px;
}
header div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  height: 100px;
  background-color: cyan;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home nav {
  margin: 50px 0;
}
.home nav a {
  margin: 0 25px;
}
.home h2 {
  font-size: 1.4em;
  font-weight: 500;
  margin-bottom: 30px;
}
.home form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 340px;
  padding: 15px 10px;
}
.home__form__nameCont {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  justify-content: space-between;
}
.home__form__nameCont__name {
  display: flex;
  flex-direction: column;
  width: 100%;
  width: 48%;
}
.home__form__nameCont__name input {
  height: 30px;
  margin-top: 5px;
}
.home__form__nameCont__name input {
  width: 100%;
}
.home__form__mail {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}
.home__form__mail input {
  height: 30px;
  margin-top: 5px;
}
.home__form__message {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.home__form__message textarea {
  margin: 5px 0 20px;
  resize: vertical;
  min-height: 100px;
}
.home__form__btn {
  border: none;
  background: cyan;
  padding: 5px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
}
.home__form__btn:hover {
  opacity: 0.6;
  transition: opacity 200ms ease-in-out;
}
.home__cv {
  font-size: 1.8em;
  margin: 28px 0 40px;
}
.home__social {
  display: flex;
  justify-content: space-around;
  width: 300px;
  margin-bottom: 30px;
}

.blogPosts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blogPosts article {
  border: 1px solid #272727;
  padding: 15px;
  width: 340px;
  margin-bottom: 25px;
}
.blogPosts article h2 {
  font-size: 1.4em;
  font-weight: 700;
}
.blogPosts__chapo {
  margin: 3px 0;
  font-weight: 500;
}
.blogPosts__date {
  font-size: 0.8em;
  font-weight: 300;
  margin-bottom: 15px;
}

/*# sourceMappingURL=style.css.map */
